@import "../../CssVariables.css";

.hero-container {
  position: relative;
  padding: 70px 0;
  background-image: url("./images/hero-ocean.jpg");
  background-size: cover;
}

.hero-right-angle {
  width: 0px;
  height: 0px;
  border-right: 99vw solid var(--dark-ocean-color);
  border-top: 70px solid transparent;
  position: absolute;
  bottom: -1px;
  right: 0;
  opacity: 1;
}

.hero-img-container {
  width: 95%;
  margin: 2rem 0;
}

.hero-text {
  text-align: center;
}

.home-hero-title {
  color: white;
  font-size: 3.25rem;
  font-family: var(--headline-font);
  font-weight: bold;
}

.home-hero-subtitle {
  color: white;
  font-size: 1.5rem;
  line-height: 1.3;
}

/* MEDIA QUERIES */

/* Extra small devices (portrait phones, 376px and up) */

@media (min-width: 400px) {}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .hero-img-container {
    width: 65%;
    margin: 2rem 0;
  }

  .home-hero-title {
    color: white;
    font-size: 5rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

/* Extra large desktops (large desktops, 1500px and up) */

@media (min-width: 1500px) {}