@import "../../CssVariables.css";

.Testimonial-container {
  position: relative;
  height: auto;
  width: 100%;
  padding: 90px 0;
  background-image: linear-gradient(180deg, var(--dark-ocean-color), rgb(27, 66, 97));
}


.features-container {
  width: 100%;
}

.Testimonial-summary {
  width: 90%;
  margin-bottom: 2rem;
}

.Testimonial-feature {
  width: 90%;
  margin-top: 1.5rem;
}

.feature-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid white;
}

.Testimonial-title {
  font-family: var(--headline-font);
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.Testimonial-subtitle {
  font-family: var(--headline-font);
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  line-height: 1.3;
}

.Testimonial-text {
  font-family: var(--paragraph-font);
  font-size: 1rem;
  color: white;
}

/* MEDIA QUERIES */

/* Extra small devices (portrait phones, 376px and up) */

@media (min-width: 400px) {}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .Testimonial-feature {
    width: 215px;
  }

  .Testimonial-summary {
    width: 60%;
  }

  .Testimonial-title {
    font-size: 3rem;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .Testimonial-feature {
    width: 250px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
  .Testimonial-summary {
    width: 50%;
  }
}

/* Extra large desktops (large desktops, 1500px and up) */

@media (min-width: 1500px) {}