@import "./CssVariables.css";

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}


/* NAVBAR */
.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8px 15px 8px;
  box-sizing: border-box;
}

#responsive-nav-items-container {
  display: flex;
  flex-direction: column;
}

#navigation-logo {
  color: var(--header-color-bg);
  font-family: var(--headline-font);
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 15px;
}

.nav-active {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}

.navigation-item {
  color: var(--header-color-bg);
  padding-left: 5px;
  padding-right: 5px;
  display: none;
  font-family: var(--headline-font);
}

.responsive-nav-items {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* .responsive-nav-items:hover {
  font-weight: bold;
  display: block;
}

*/
#nav-hamburger {
  display: block;
  align-self: start;
  width: 30px;
  right: 8px;
  top: 10px;
}

#nav-hamburger:hover {
  cursor: pointer;
}

.hamburger {
  width: 100%;
  height: 3px;
  background-color: var(--medium-ocean-color);
  margin: 5px 0;
}

/* FOOTER */
.footer-container {
  background-color: #171a20;
  color: rgb(226, 225, 225);
  height: auto;
  width: 100vw;
  font-family: var(--paragraph-font);
  padding: 1rem 0 0 0;
}


.footer-box {
  width: 90%;
}

.footer-title {
  font-weight: bold;
  font-family: var(--headline-font);
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.footer-box-left {
  width: 100%;
  padding: 1rem;
}

.footer-box-right {
  width: 100%;
  padding: 1rem;
}

.footer-trademark {
  padding: 1rem .5rem;
  font-size: 1rem;
  text-align: center;
  width: 90vw;
}

input::placeholder,
textarea::placeholder {
  color: black;
  font-weight: bold;
  vertical-align: baseline;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: var(--header-color-bg);
  font-weight: bold;
  vertical-align: baseline;
}


.footer-form-inputs {
  height: 2rem;
  width: 100%;
  margin: 0 10px 10px 0;
  padding: 1rem;
  border-radius: 3px;
}

.footer-submit {
  margin: 10px 0;
}

/* MEDIA QUERIES */

/* Extra small devices (portrait phones, 376px and up) */

@media (min-width: 400px) {}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  .navigation-item {
    display: inline-flex;
  }

  #nav-hamburger {
    display: none;
  }

  .navigation-item:hover {
    font-weight: bold;
    box-sizing: border-box;
  }

  .footer-box-left {
    width: 50%;
  }

  .footer-box-right {
    width: 50%;
  }

  .footer-trademark {
    font-size: 1rem;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
  .footer-box {
    width: 80%;
  }

  .footer-inputs-container {
    width: 100%;
    justify-content: start;
  }

  .footer-form-inputs {
    width: 45%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

/* Extra large desktops (large desktops, 1500px and up) */

@media (min-width: 1500px) {}