@import "./CssVariables.css";

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

/* FOOTER */
.footer {
  background-color: var(--footer-color-bg);
  color: white;
  height: 200px;
}

/* MEDIA QUERIES */

/* Extra small devices (portrait phones, 376px and up) */

@media (min-width: 400px) {}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

/* Extra large desktops (large desktops, 1500px and up) */

@media (min-width: 1500px) {}