/* CSS VARIABLES */
:root {
  --header-color-bg: #42a5f5;
  --footer-color-bg: #263238;
  --headline-font: "Source Sans Pro", sans-serif;
  --paragraph-font: "Open Sans", sans-serif;
  --shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --danger: #ff4444;
  --danger-dark: #cc0000;
  --warning: #ffbb33;
  --warning-dark: #ff8800;
  --success: #00c851;
  --success-dark: #007e33;
  --info: #33b5e5;
  --info-dark: #0099cc;
  --dark-ocean-color: #1c2a48;
  --medium-ocean-color: #6081c2;
}